<body id="login">
  <div class="container">
  <div class="row white-text">
      <div class="col s12 m4 l2"></div>
      <div class="col s12 m4 l8">
            <div class="card #43a047 green darken-1">
              <div class="card-content white-text">
                <span class="card-title">Coach Login</span>
                <p id="alert"><%= alert %></p>
                <%= form_tag sessions_path do %>
                  <div class="field">
                    <%= label_tag :email %>
                    <%= text_field_tag :email, params[:email] %>
                  </div>
                  <div class="field">
                    <%= label_tag :password %>
                    <%= password_field_tag :password %>
                  </div>
                  <div class="actions black-text"><%= submit_tag "Log In" %></div>
                <% end %>
              </div>
              <div class="col s12 m4 l2"></div>
            </div>
          </div>
        </div>
  </div>
</body>