<body class="texture">
  <div class="container">
    <p class="white-text" id="notice"><%= notice %></p>
    <div class="row"></div>
    <h6><span class="green-text darken-1">Prospect List</span></h6>
    <table class="highlight striped">
      <thead class="black-text">
        <tr>
          <th>Name</th>
          <th>Grade</th>
          <th>Position 1</th>
          <th>Position 2</th>
          <th>Position 3</th>
          <th>Coordinated</th>
          <th>Club Exp.</th>
          <th>Team</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
        <tr>
          <td><%= link_to player.name, player_path(player) %> </td>
          <td><%= player.grade %></td>
          <td><%= player.position1 %></td>
          <td><%= player.position2 %></td>
          <td><%= player.position3 %></td>
          <td><%= player.coordinated %></td>
          <td><%= player.club_exp %></td>
          <td><%= player.team.level %></td>
          <td>
            <a class="dropdown-button btn white blue-text" href="#" data-activates=<%= "dropdown#{player.id}" %>>Action</a>
            <ul class='dropdown-content' id= <%= "dropdown#{player.id}" %> >
              <li><%= link_to 'Edit Player', edit_player_path(player) %></li>
              <li><%= link_to 'Delete', player_path(player), method: :delete %></li>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <div class="btn white"><%= link_to "Add Player", new_player_path %></div>
  </div>
  </div>
  <footer class="page-footer N/A transparent">
    <div class="container">
      <div class="row">
        <div class="col l4 offset-l2 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container right-align">
        © 2017 Copyright Text
      </div>
    </div>
  </footer>