<div class="container">
  <div class="row">
    <div class="card #424242 grey darken-1">
      <div class="card-content white-text">
          <div class="row">
             
              <div class="col s2 center-align">
              <a href="/players"><i class="material-icons center">arrow_back</i></a>
              </div>
              <span class="col s10 card-title left-align">Add Player</span>
          </div>
        <p id="alert"><%= alert %></p>
          <div class="container">
            <div class="row">
              <%= form_for @player do |f| %>
              <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name %>
              </div>
                <%= f.label :number %>
                <%= f.text_field :number %>
              </div>
              <div class="field black-text">
              <%= f.label :team %>
              <%= collection_select(:player, :team_id, Team.all, :id, :level) %></div>
              <div class="field">
              <div class="field black-text">
                <%= f.label :grade %>
                <%= f.select :grade, ["9", "10", "11", "12"], :prompt => "Select Grade" %>
              </div>
              <div class="field black-text">
                <%= f.label :coordinated %>
                <%= f.select :coordinated, ["Yes", "No", "Has Potential", "Unknown"], :prompt => "Select Coordination"%>
              </div>
              <div class="field black-text">
                <%= f.label :position1 %>
                <%= f.select :position1, ["Unassigned", "Setter", "Opposite", "Outside", "Middle Blocker", "Libero", "Defensive Specialist", "Serving Specialist", "Team Manager", "Right Bench"], :prompt => "Primary Position" %>
              </div>
              <div class="field black-text">
                <%= f.label :position2 %>
                <%= f.select :position2, ["Unassigned", "Setter", "Opposite", "Outside", "Middle Blocker", "Libero", "Defensive Specialist", "Serving Specialist", "Team Manager", "Right Bench"], :prompt => "Secondary Position" %>
              </div>
              <div class="field black-text">
                <%= f.label :position3 %>
                <%= f.select :position3, ["Unassigned", "Setter", "Opposite", "Outside", "Middle Blocker", "Libero", "Defensive Specialist", "Serving Specialist", "Team Manager", "Right Bench"], :prompt => "Third Position" %>
              </div>
              <div class="field black-text">
                <%= f.label :club_exp %>
                <%= f.select :club_exp, ["0", "1", "2", "3", "4+"], :prompt => "Club Experience" %>
              </div>
              <%= f.file_field :image %>
              <div class="actions black-text"><%= f.submit %></div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>