<div class="container">
    <div class="row">
        <div class="col s5 push-s7">
            <h1><%= @player.name %></h1>
            <p>Grade: <%= @player.grade %></p>
            <p>Primary Position: <%= @player.position1 %></p>
            <p>2nd Position: <%= @player.position2 %></p>
            <p>3rd Position: <%= @player.position3 %></p>
            <p>Coordinated: <%= @player.coordinated %></p>
            <p>Club Experience: <%= @player.club_exp %></p>
            <p>Team: <%= @player.team_id %></p>
            <%= link_to "Edit", edit_player_path %> &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "Delete Player", player_path(@player), method: :delete, data: { confirm: "Are you sure you want to delete this player?"} %> &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "Back to Roster", players_path %>
        </div>
        
         <div class="col s7 pull-s5 align-middle">
            <%= image_tag @player.image.url %>
        </div>

    </div>
</div>

<div class="row">
        <div class="col s12">
          <div class="card #43a047 green darken-1">
            <div class="card-content white-text">
              <span class="card-title"> Coaches Comments </span>
            </div>
            <div class="card-action">
              <a href="#">Add Comment</a>
              
            </div>
          </div>
        </div>
      </div>









